In [289]:
import pandas as pd
import numpy as np
import os

file_format = ".xlsx" # .csv
file_path = "C:/박규영/축구포트폴리오/2023K리그데이터포털"
file_list = [f"{file_path}/{file}" for file in os.listdir(file_path) if file_format in file]

In [291]:
# 모든 파일을 담을 빈 리스트
all_dataframes = []

# 파일을 순회하며 DataFrame으로 읽어와 리스트에 추가
for file in file_list:
    df = pd.read_excel(file)
    all_dataframes.append(df)

# 리스트에 있는 모든 DataFrame을 하나로 합침
merged_df = pd.concat(all_dataframes, ignore_index=True)

In [4]:
merged_df

,LABEL-1,LABEL-2,LABEL-3,LABEL-4,LABEL-5,LABEL-6,LABEL-7,LABEL-8,LABEL-9,LABEL-10,...,LABEL-65,LABEL-66,LABEL-67,LABEL-68,LABEL-69,LABEL-70,LABEL-71,LABEL-72,LABEL-73,LABEL-74
0,FC서울,백종범,GK,1,1774,0,0,0,0,0,...,15,54,2,55,3,0,0,1,1,0
1,FC서울,최철원,GK,21,601,0,0,0,0,0,...,8,5,0,26,0,1,1,0,0,0
2,FC서울,권완규,DF,3,228,0,0,1,0,0,...,15,5,8,10,6,1,4,0,2,0
3,FC서울,김주성,DF,30,2363,2,1,11,5,4,...,196,98,48,81,60,3,16,11,2,0
4,FC서울,김진야,DF,17,1114,0,1,2,0,0,...,39,24,18,38,33,6,9,6,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1599,포항,제카,대기,9,276,3,0,15,7,2,...,2,2,3,13,5,5,5,4,1,0
1600,포항,조재훈,대기,26,97,0,0,1,0,0,...,3,4,1,8,0,0,6,2,2,0
1601,포항,최현웅,대기,55,9,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1602,포항,하창래,대기,45,21,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,0
1603,포항,한찬희,대기,16,211,1,0,4,1,0,...,5,2,4,13,2,0,4,0,1,0

In [5]:
merged_df['LABEL-1'].unique()

array(['FC서울', '대구', '강원', '경남', '광주', '김천상무', '김포', '대전', '부산', '부천',
       '서울이랜드', '성남', '수원FC', '수원삼성', '안산', '안양', '울산', '인천', '전남', '전북',
       '제주', '천안', '청주', '충남아산', '포항'], dtype=object)

In [292]:
# k리그1, k리그2 구분

league1_list = ['FC서울','대구', '강원', '광주', '대전', '수원FC', 
                '수원삼성', '울산', '인천', '전북','제주', '포항']

merged_df['리그'] = ''
merged_df['리그'] = '리그2'
merged_df.loc[merged_df['LABEL-1'].isin(league1_list), '리그'] = '리그1'

In [33]:
merged_df.to_csv('2023K리그데이터통합.csv', encoding='cp949')

### 해야할 것
- 컬럼명 변환
- 포지션 전처리 (옐를 들어 한 선수의 포지션이 두 개 이상인 케이스)
- 동명이인 전처리 (이름표기를 달리하는 방법)
- 선수 연령 전처리 (어떻게...)

#### 1. 컬럼명 변환
- 기존 데이터포털에서 받아온 과거 데이터프레임과 컬럼 순서가 동일했음
- 따라서 기존 데이터프레임 컬럼명 사용

In [201]:
merged_df = pd.read_csv("C:/박규영/축구포트폴리오/2023K리그데이터포털/전처리/2023K리그데이터통합.csv", encoding = 'cp949')

In [202]:
# 성공률 제거한 이유, 간단한 계산으로 만들 수 있음
# 아래 전처리 과정에서 sum을 기준으로 집계할건데 성공률은 sum하면 안됨

merged_df = merged_df.drop(columns=[col for col in merged_df.columns if '성공률' in col])

In [152]:
merged_df.columns

Index(['구단', '선수명', '포지션', '번호', '출전시간', '득점', '도움', '슈팅', '유효슈팅', '차단된 슈팅',
       '벗어난 슈팅', 'PA내 슈팅', 'PA 외 슈팅', '오프사이드', '프리킥', '코너킥', '스로인', '드리블시도',
       '드리블성공', '패스시도', '패스성공', '키패스', '전방패스 시도', '전방패스성공', '후방패스시도', '후방패스성공',
       '횡패스시도', '횡패스성공', '공격지역패스시도', '공격지역패스성공', '수비지역패스시도', '수비지역패스성공',
       '중앙지역패스시도', '중앙지역패스성공', '롱패스시도', '롱패스성공', '중거리패스시도', '중거리패스성공', '숏패스시도',
       '숏패스성공', '크로스시도', '크로스성공', '탈압박', '경합지상시도', '경합지상성공', '경합공중시도',
       '경합공중성공', '태클시도', '태클성공', '클리어링', '인터셉트', '차단', '획득', '블락', '볼미스', '파울',
       '피파울', '경고', '퇴장', '리그'],
      dtype='object')

#### 2. 선수 포지션 처리
- 목표1: CB, MF, FW, GK -> CB, FB, MF, FW, GK로 세분화
- 목표2: 데이터프레임의 '포지션 컬럼'의 구분을 보면 같은 선수여도 'FW', '대기' 이런식으로 있음
    - 대구의 고재현 같은 경우, FW로 나올 때, MF로 나올 때가 구분되어 있음
    - 경남의 박민서는 두 명으로 같은 팀의 동명이인이 존재할 수도 있음
- 따라서 주 포지션 하나로 묶던가, 동일한 선수별 고유번호를 만드는 방법을 사용해야 함
- 고유번호를 만드는 조건생각해야 함

In [19]:
seoul = merged_df[merged_df['구단'] == 'FC서울']

print('고유 선수 숫자:', len(seoul['선수명'].unique()))
print('FC서울 데이터프레임 내 인덱스 숫자:', len(seoul))
print(seoul['선수명'].unique())

고유 선수 숫자: 30
FC서울 데이터프레임 내 인덱스 숫자: 59
['백종범' '최철원' '권완규' '김주성' '김진야' '박수일' '오스마르' '이태석' '이한범' '황현수' '기성용' '김신진'
 '나상호' '윌리안' '이승모' '임상협' '팔로세비치' '한찬희' '박동진' '일류첸코' '황의조' '강성진' '고요한'
 '김경민' '서주환' '이승준' '이시영' '정현철' '한승규' '황성민']

In [212]:
# 선수명, 구단, 번호를 기준으로 합침 

new_df = merged_df.groupby(['선수명','구단','번호','리그'], as_index=False).sum()
len(new_df)

817

문제는 팀명이 없어서 동명이인 처리가 빡세다..

In [213]:
data = merged_df.drop_duplicates(subset=['선수명', '구단', '번호'], keep='first')
len(data)

817

In [214]:
new_df[new_df['선수명']=='박민서'] # 포지션 x, 경기 기록 제대로 합산

,선수명,구단,번호,리그,출전시간,득점,도움,슈팅,유효슈팅,차단된 슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
282,박민서,경남,21,리그2,1748,1,4,11,3,1,...,68,68,49,112,33,9,23,14,1,0
283,박민서,경남,77,리그2,145,0,0,6,2,2,...,0,2,3,13,2,1,4,4,0,0
284,박민서,충남아산,77,리그2,901,3,2,26,9,9,...,19,21,12,43,9,13,15,18,3,0

In [215]:
data[data['선수명']=='박민서'] # 포지션 ㅇ, 경기 기록 제대로 합산 x

,구단,선수명,포지션,번호,출전시간,득점,도움,슈팅,유효슈팅,차단된 슈팅,...,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장,리그
173,경남,박민서,DF,21,1475,0,4,9,2,1,...,58,43,93,27,8,19,11,0,0,리그2
198,경남,박민서,FW,77,55,0,0,2,1,1,...,1,2,3,0,0,2,2,0,0,리그2
1503,충남아산,박민서,MF,77,225,2,1,8,3,4,...,8,4,13,4,3,3,3,0,0,리그2

new_df와 data라는 데이터프레임의 구단, 선수명, 번호, 리그를 기준으로 new_df의 경기 기록 데이터에 data의 포지션 컬럼을 추가

In [218]:
s = pd.merge(new_df, data[['구단', '선수명', '번호', '리그', '포지션']], on=['구단', '선수명', '번호', '리그'], how='left')
s[s['선수명']=='박민서']

,선수명,구단,번호,리그,출전시간,득점,도움,슈팅,유효슈팅,차단된 슈팅,...,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장,포지션
282,박민서,경남,21,리그2,1748,1,4,11,3,1,...,68,49,112,33,9,23,14,1,0,DF
283,박민서,경남,77,리그2,145,0,0,6,2,2,...,2,3,13,2,1,4,4,0,0,FW
284,박민서,충남아산,77,리그2,901,3,2,26,9,9,...,21,12,43,9,13,15,18,3,0,MF

In [222]:
s[s['선수명']=='이상민']

,선수명,구단,번호,리그,출전시간,득점,도움,슈팅,유효슈팅,차단된 슈팅,...,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장,포지션
512,이상민,김천상무,35,리그2,1547,1,0,6,2,1,...,71,17,52,41,2,11,11,1,0,DF
513,이상민,서울이랜드,6,리그2,1903,0,2,1,0,0,...,69,53,136,45,10,24,35,3,0,MF
514,이상민,성남,4,리그2,1445,0,0,8,2,1,...,71,26,67,34,8,6,11,1,0,DF
515,이상민,수원삼성,29,리그1,822,0,3,5,0,3,...,14,13,39,9,6,12,4,2,0,MF

In [223]:
new_df[new_df['선수명']=='이상민']

,선수명,구단,번호,리그,출전시간,득점,도움,슈팅,유효슈팅,차단된 슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
512,이상민,김천상무,35,리그2,1547,1,0,6,2,1,...,145,71,17,52,41,2,11,11,1,0
513,이상민,서울이랜드,6,리그2,1903,0,2,1,0,0,...,77,69,53,136,45,10,24,35,3,0
514,이상민,성남,4,리그2,1445,0,0,8,2,1,...,114,71,26,67,34,8,6,11,1,0
515,이상민,수원삼성,29,리그1,822,0,3,5,0,3,...,15,14,13,39,9,6,12,4,2,0

In [221]:
len(s)

817

### 3. 선수인적정보 추가

In [258]:
info = pd.read_excel("C:/박규영/축구포트폴리오/2023K리그데이터포털/인적정보/2023_K리그_선수전체인적정보.xlsx")

In [259]:
info = info.iloc[:,2:]
info['번호'] = info['LABEL-3'].str.split('.').str[0]
info['선수명'] = info['LABEL-3'].str.split('.').str[-1]
info['신장'] = info['LABEL-4'].str.split('/').str[0]
info['생년월일'] = info['LABEL-4'].str.split('/').str[2]

In [274]:
info = info.iloc[:,2:]
info['번호'] = info['번호'].astype('int64')
info['선수명'] = info['선수명'].str.strip()

In [277]:
# 선수명에 공백 제거를 했어야 함

info[info['선수명'] == '김정호']

     번호  선수명      신장  생년월일
0    25  김정호  184Cm   1998
294  20  김정호  187Cm   1995

In [284]:
k = pd.merge(s, info, how = 'left', on = ['선수명','번호'])

In [310]:
k[k['생년월일'].isnull()]

,선수명,구단,번호,리그,출전시간,득점,도움,슈팅,유효슈팅,차단된 슈팅,...,획득,블락,볼미스,파울,피파울,경고,퇴장,포지션,신장,생년월일
2,가브리엘,안산,7,리그2,1120,4,2,44,14,13,...,89,6,23,19,28,1,1,MF,NaN,NaN
8,강상윤,전북,36,리그1,14,0,0,0,0,0,...,3,0,0,0,0,0,0,MF,NaN,NaN
13,강윤성,김천상무,10,리그2,601,0,0,1,1,0,...,38,13,3,7,2,3,0,DF,NaN,NaN
26,고무열,충남아산,30,리그2,224,1,0,4,1,2,...,8,1,4,0,3,0,0,MF,NaN,NaN
33,공민현,대전,9,리그1,327,0,0,2,2,0,...,14,4,6,9,4,1,0,MF,NaN,NaN
46,국태정,성남,23,리그2,200,0,0,3,0,0,...,19,3,0,5,4,2,0,DF,NaN,NaN
60,김건웅,전북,6,리그1,692,0,0,6,0,1,...,41,10,2,9,1,4,0,DF,NaN,NaN
103,김범용,경남,6,리그2,314,0,0,5,2,1,...,37,7,1,5,1,0,0,MF,NaN,NaN
164,김주원,제주,16,리그1,908,0,1,1,0,1,...,31,19,4,17,4,4,0,DF,NaN,NaN
173,김지수,성남,36,리그2,64,0,0,0,0,0,...,1,2,1,0,0,0,0,DF,NaN,NaN
176,김지현,김천상무,9,리그2,1220,3,1,33,11,6,...,45,11,26,9,22,1,0,FW,NaN,NaN
205,김현훈,수원FC,4,리그1,782,0,0,1,0,0,...,12,12,1,3,2,1,0,DF,NaN,NaN
217,노경호,포항,23,리그1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,대기,NaN,NaN
226,디노,강원,9,리그1,451,0,0,8,1,3,...,19,6,1,7,7,2,0,FW,NaN,NaN
233,루안,수원FC,23,리그1,145,0,1,3,1,0,...,8,0,2,2,5,0,0,대기,NaN,NaN
237,류승우,수원삼성,12,리그1,386,0,0,6,1,3,...,23,8,4,6,2,1,0,MF,NaN,NaN
247,무릴로,수원FC,10,리그1,1075,4,1,25,11,5,...,57,13,8,9,21,2,0,MF,NaN,NaN
257,미란징야,경남,77,리그2,415,0,0,16,3,2,...,22,9,5,7,6,1,0,MF,NaN,NaN
265,민준영,대전,12,리그1,35,0,0,0,0,0,...,0,1,0,0,0,0,0,대기,NaN,NaN
269,바카요코,천안,7,리그2,1095,0,0,15,2,5,...,58,13,10,4,32,0,0,MF,NaN,NaN
279,박동진,FC서울,50,리그1,555,3,2,17,5,3,...,16,6,5,15,6,3,0,FW,NaN,NaN
299,박용우,울산,6,리그1,1528,1,2,8,1,1,...,133,37,11,22,21,3,0,MF,NaN,NaN
302,박재용,안양,16,리그2,1350,6,1,34,17,3,...,39,3,11,9,11,1,0,FW,NaN,NaN
310,박주호,수원FC,6,리그1,902,0,0,0,0,0,...,69,15,3,8,10,2,0,MF,NaN,NaN
349,산드로,광주,91,리그1,797,1,2,16,4,3,...,32,11,4,14,9,1,0,FW,NaN,NaN
363,세라토,대구,8,리그1,346,0,0,2,2,0,...,30,11,2,7,4,1,0,MF,NaN,NaN
372,송시우,인천,19,리그1,218,0,1,8,2,4,...,11,8,2,4,7,0,0,대기,NaN,NaN
378,시모비치,전남,23,리그2,463,0,1,8,2,3,...,12,1,7,14,1,1,0,FW,NaN,NaN
403,안드리고,안양,10,리그2,1642,6,8,45,18,10,...,159,36,23,21,10,1,0,MF,NaN,NaN
412,안현범,제주,17,리그1,1371,2,2,17,5,3,...,74,11,13,7,15,2,0,MF,NaN,NaN
429,여름,인천,18,리그1,86,0,0,0,0,0,...,9,5,2,0,1,0,0,MF,NaN,NaN
433,염기훈,수원삼성,26,리그1,197,0,0,2,0,1,...,7,2,2,0,4,0,0,MF,NaN,NaN
471,윤일록,울산,7,리그1,48,0,0,1,0,1,...,3,2,0,0,0,0,0,MF,NaN,NaN
492,이근호,안산,10,리그2,313,0,0,1,0,0,...,7,1,4,2,1,0,0,FW,NaN,NaN
495,이대광,수원FC,39,리그1,196,0,0,6,2,1,...,13,6,3,3,3,1,0,FW,NaN,NaN
499,이동수,인천,16,리그1,250,0,0,1,1,0,...,25,6,2,6,1,1,0,MF,NaN,NaN
508,이민혁,전북,18,리그1,168,0,0,1,0,0,...,6,4,1,3,2,0,0,MF,NaN,NaN
517,이상용,안양,20,리그2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,대기,NaN,NaN
530,이승모,포항,16,리그1,640,0,0,12,1,7,...,52,17,5,11,5,3,0,MF,NaN,NaN
540,이영재,김천상무,8,리그2,1115,1,2,29,7,5,...,94,19,9,6,17,0,0,MF,NaN,NaN
559,이재원,성남,14,리그2,1640,0,0,16,3,6,...,139,54,23,22,23,2,0,DF,NaN,NaN
579,이준호,전남,13,리그2,144,1,1,4,3,0,...,6,1,1,3,0,0,0,FW,NaN,NaN
584,이지솔,제주,5,리그1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,대기,NaN,NaN
594,이창민,제주,8,리그1,1267,0,0,18,3,2,...,102,21,8,7,7,2,0,MF,NaN,NaN
596,이창훈,충남아산,18,리그2,128,0,0,1,0,0,...,6,1,2,4,2,1,0,대기,NaN,NaN
602,이풍연,부천,4,리그2,15,0,0,0,0,0,...,2,1,0,1,0,0,0,대기,NaN,NaN
626,임창우,강원,23,리그1,1089,0,1,6,5,0,...,49,31,3,13,12,2,0,DF,NaN,NaN
643,전보민,안양,77,리그2,67,0,0,1,0,1,...,4,1,0,2,1,0,0,DF,NaN,NaN
647,전승민,전남,21,리그2,376,0,0,4,0,1,...,40,10,5,3,2,0,0,MF,NaN,NaN
659,정승용,강원,22,리그1,1805,1,0,11,2,2,...,107,39,11,20,20,2,0,DF,NaN,NaN
685,조규성,전북,10,리그1,972,5,0,27,12,4,...,46,7,16,18,10,0,0,FW,NaN,NaN
686,조나탄,안양,9,리그2,474,5,1,15,9,3,...,31,1,5,2,3,1,0,FW,NaN,NaN
717,지상욱,제주,33,리그1,118,0,0,1,1,0,...,6,2,1,4,1,0,0,MF,NaN,NaN
720,진성욱,제주,40,리그1,24,0,0,1,0,0,...,2,0,0,0,1,0,0,대기,NaN,NaN
749,카릴,부천,9,리그2,845,2,0,24,8,5,...,49,11,21,10,10,0,0,FW,NaN,NaN
753,케빈,강원,3,리그1,12,0,0,1,0,1,...,1,1,0,0,0,0,0,대기,NaN,NaN
785,한찬희,FC서울,25,리그1,319,1,0,6,1,4,...,32,8,4,3,5,2,0,MF,NaN,NaN
810,황의조,FC서울,16,리그1,1541,4,2,41,17,4,...,60,17,21,10,19,1,0,FW,NaN,NaN

- 스크래핑한 데이터포털을 살펴봤는데, 애초에 거기에 인적정보가 없는 선수들이 있어서 결측값이 존재함
- 또한, 시즌 중반에 이적한 선수들의 경우 선수명+번호를 이용해 join을 하는 방식인데 번호가 일치하지않아 결측치가 생김

In [313]:
k.to_csv('2023_K리그_데이터최종본.csv', index=False, encoding='cp949')